body{background-image:url('https://images8.alphacoders.com/418/thumb-1920-418876.jpg')}
h1{color:White;}
h2{color:White;}
#gray{color:gray;}
.Tittle{color:gray;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/* Navbar Styles */   
header {background-color: Gray;}
ul {list-style: None;}
li {list-style-type: none;
    display: inline-block;
    padding: 0 15px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    